@font-face {
    font-family: 'A_Bismillah';
    src: local('A_Bismillah'),
        url('A_Bismillah.woff2') format('woff2'),
        url('A_Bismillah.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dhivehi';
    src: local('Dhivehi'),
        url('Dhivehi.woff2') format('woff2'),
        url('Dhivehi.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.for-print {
    display: none;
    font-family: 'Dhivehi';
}

.container {
    max-width: 75ch;
    margin: auto;
    padding: 1rem 2rem;
}

label {
    display: block;
}

.field-group + .field-group {
    margin-top: 1.2rem;
}

input,
textarea {
    line-height: 1.9;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

.thaanaKeyboardInput {
    direction: rtl;
    -webkit-font-smoothing: antialiased;
    font-family: 'Dhivehi';
    
}

.bismi {
    font-family: 'A_Bismillah';
    font-size: 2rem;
    padding: 0.282rem 0.8rem;
    width: 100%;
}

#sender-gender {
    font-family: 'Dhivehi';
    line-height: 2rem;
    padding: 0.625rem 0.8rem;
    width: 100%;
}

@media print {
    .container {
        display: none;
    }

    .for-print {
        display: grid;
        margin-left: 1.5cm;
        margin-right: 1.5cm;
    }

    .subject,
    .message,
    .farewell,
    .hijri-date,
    .letter-date {
        line-height: 1.9;
    }

    .bismi {
        display: block;
        font-size: 2.5rem;
        order: 1;
        text-align: center;
    }

    .sender {
        margin-top: 2rem;
        order: 2;
        text-align: center;
        width: max-content;
    }

    /* .sender-island {
        order: 3;
    } */

    .receiver {
        margin-top: 4rem;
        margin-right: 6rem;
        order: 3;
    }

    .greeting {
        margin-right: 6rem;
        margin-top: 1rem;
        order: 4;
    }

    /* .receiver-title {
        margin-right: 6rem;
        order: 4;
    }

    .receiver-name {
        margin-top: 2rem;
        margin-right: 6rem;
        order: 5;
    } */

    .subject {
        font-weight: 900;
        text-decoration: underline;
        margin-top: 1rem;
        /* margin-right: 6rem; */
        order: 5;
    }

    .message {
        /* line-height: 1.9; */
        text-indent: 6rem;
        order: 6;
    }

    .farewell {
        margin-top: 1rem;
        text-indent: 6rem;
        order: 7;
    }

    .letter-date,
    .hijri-date {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-right: 6rem;
        order: 8;
        width: max-content;
    }

        .letter-year,
        .hijri-year {
            order: 3;
        }

        .letter-month,
        .hijri-month {
            order: 2;
            padding: 0 1ch;
        }

        .letter-day,
        .hijri-day {
            order: 1;
        }


    .sign {
        /* background-color: brown; */
        display: grid;
        grid-template-columns: 1fr max-content;
        order: 9;
        width: 100%;
    }

        .sign div {
            grid-column-start: 2;
            grid-column-end: 3;
            width: max-content;
            /* text-align: center; */
        }
            .sender-gender {
                display: block;
                margin-top: 1rem;
                margin-bottom: 3.5rem;
                text-align: center;
                /* order: 8; */
            }

            .sender-name {
                display: block;
                text-align: center;
                width: 100%;
            }

    .receive-address {
        margin-top: 2rem;
        order: 10;
        text-align: center;
        width: max-content;
    }

    /* .receiver-island {
        order: 12;
    } */
    
}